.about {
    height: 1600px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr 5fr;
    .about-head {
        grid-area: 1/2/2/3;
        @include flex(column, center, center);
        header {
            @include header-of-section($headline-size);
        }
        p {
            @include subheader-of-section($subheader-headline-size);
        }
    }
    .calendar {
        grid-area: 2/2/3/3;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80% 20%;
        .date {
            grid-area: 1/1/2/2;
            display: grid;
            grid-template-columns: 40% 20% 40%;
            grid-template-rows: repeat(4, 25%);
            .note {
                font-family: $font-family;
                h1 {
                    @include font(24px, black, uppercase);
                    margin: 0;
                }
                h2 {
                    @include font(24px, black, capitalize);
                    margin: 0;
                }
            }
            .image {
                @include flex(row, center, center);
                position: relative;
                &::after {
                    content: '';
                    height: 20vh;
                    width: 2px;
                    background: $light-grey-color;
                    z-index: -1;
                    position: absolute;
                    transform: translate(0,100%);
                }
            }
            .note-1 {
                grid-area: 1/1/2/2;
                @include flex(column, center, flex-end);
            }
            .img-1 {
                grid-area: 1/2/2/3;
            }
            .note-2 {
                grid-area: 2/3/3/4;
                @include flex(column, center, flex-start);
            }
            .img-2 {
                grid-area: 2/2/3/3;
            }
            .note-3 {
                grid-area: 3/1/4/2;
                @include flex(column, center, flex-end);
            }
            .img-3 {
                grid-area: 3/2/4/3;
            }
            .note-4 {
                grid-area: 4/3/5/4;
                @include flex(column, center, flex-start);
            }
            .img-4 {
                grid-area: 4/2/5/3;
            }
            img {
                @include square-size(150px, 150px);
                border-radius: 50%;
                border: 5px solid $light-grey-color;
                &:hover {
                    cursor: pointer;
                    border-color: $gold-color;
                }
            }
        }
        .calendar-button {
            grid-area: 2/1/3/2;
            @include flex(row, center, center);
            button {
                display: block;
                @include square-size(160px,160px);
                border-radius: 50%;
                border: 5px solid $light-grey-color;
                color: white;
                background-color: $gold-color;
                @include header-of-section(20px);
                &:hover {
                    cursor: pointer;
                    background-color: $grey-color;
                    border-color: $gold-color;
                }
            }
        }
    }
}