.jumbotron {
    position: relative;
    min-height: 80vh;
    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("https://images.pexels.com/photos/322207/pexels-photo-322207.jpeg?cs=srgb&dl=accessories-accessory-boots-322207.jpg&fm=jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
        filter: brightness(50%);
        z-index: -1;
    }
    nav {
        padding-top: 40px;
        width: 100%;
        @include flex(row, space-around, flex-start);
        .logo {
            grid-area: 1/2/1/3;
            font-family: 'Satisfy', cursive;
            font-size: 30px;
            color: $gold-color;
            text-transform: capitalize;
            &:hover {
                cursor: pointer;
            }
            .bar {
                display: none;
            }
        }
        .navigation {
            grid-area: 1/4/1/5;
            font-size: 15px;
            padding: 10px;
            a {
                @include font(15px,white,uppercase);
                margin-left: 10px;
                &:hover {
                    color: $gold-color;
                }
            }
        }
    }
    .hero {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include flex(column,center,center);
        h1 {
            @include font(38px, white, capitalize);
            font-style: oblique;
            font-weight: 200;
            text-align: center;
        }
        header {
            margin-top: 50px;
            @include header-of-section(56px);
            color: white;
            text-align: center;
        }
        button {
            @include yellow-button;
        }
    }
    .move {
        margin-top: 100px;
    }
}