.partners {
    @include flex(row, center, center);
    margin: 2% 20%;
    text-align: center;
    img {
        @include square-size(12%,12%);
        margin: 0 4%;
        filter: grayscale(1);
        &:hover {
            filter: none;
            cursor: pointer;
        }
    }
}