@mixin font($font-size,$color,$uppercase) {
    font-size: $font-size;
    color: $color;
    text-decoration: none;
    text-transform: $uppercase;
}
@mixin flex($flex-direction,$justify,$align) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify;
    align-items: $align;
}